*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
background: #bd8888;
color: rgb(138, 84, 14);
background-color: #f1c2fa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%23f7ed9a' fill-opacity='0.7' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
font-size: 16px;
font-family: 'Oswald', sans-serif;



}
a{
    color: rgb(136, 88, 11);
}
ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}
/*estilos de navegacion*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between; /*se utiliza todo */
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}
/*nav left*/
.nav-main ul{
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a:hover{
    padding: 2px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid rgb(3, 5, 0);
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

.menu-btn{
    position: absolute;
cursor: pointer;
top: 15px;
right: 30px;
z-index: 2;

}





/*shocase*/
hr{
    margin: 10px 0;
}
.showcase{
    width: 100%;
   height: 550px;
   background: url('./img/desfile.jpg') no-repeat center center/cover;
   padding-bottom: 50px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0; 
}
.btn:hover{
    opacity: .7;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/*new cards*/
.news-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0s;
}

.news-cards img{
    width: 100%;
    height: 180px;
}

.news-cards h3{
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a{
    padding: 10px 0;
    color: darksalmon;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover {
    text-decoration: underline;
}

/*para el banner*/
.cards-banner-one {
width: 100%;
height: 350px;
background: url('./img/tienda.jpg');
margin-bottom: 40px;
}

.cards-banner-one .content{
width: 40%;
padding: 90px 0 30px;
color:black;
}

.cards-banner-one p,
.cards-banner-one h2{
    margin: 10px 0;
}

/*nuevo banner*/
.cards-banner-two {
    width: 100%;
    height: 350px;
    background: url('./img/botique.jfif') no-repeat center center/cover;
    
    }

    .cards-banner-two .content{
        width: 50%;
        padding: 100px 0 30px;
        color:white;
        }

/*social*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links {
    display: flex;
align-items: center;
justify-content: center;

}

.links a {
margin: 0 30px;
}
.links a i {
font-size: 3rem ;
}

/*footer links*/

.footer-links {
    background: #f8da94;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-container {
    display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
align-items: flex-start;
justify-content: center;


}
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 2.8;
}

.footer{
    background: #bd8888;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {
.nav-main ul.nav-menu{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f1c2fa;
    height: 100%;
    padding: 30px;
    opacity: .9;
    transform: translateX(-20px);
}


.nav-main ul.nav-menu li{
    padding: 20px;
    border-bottom: #fff solid 1px;
    font-size: 14px;
}

.nav-main ul.nav-menu-rigth{
    margin-right: 40px;
}

.news-cards {
    grid-template-columns: repeat(2, 1fr);
}
.cards-banner-one .container,
.cards-banner-two .content
{
    width: 80%;
}

.footer-links .footer-container{
    grid-template-columns: repeat(2, 1fr);
}



}



